/* Especificidad: (0,0,1) */
header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 80px;
}

/* Especificidad: (0,0,1) */
nav{
    gap: 10px;
}


/* When the browser is at least 600px and above */
@media screen and (max-width: 500px) {
    body > p:first-of-type {
        display: none;
    }
}


